@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  height:100%;
}

body{
  background:#000;
  color:#fff;
  overflow:hidden;
  font-family:'Cormorant Garamond', serif;
}

input,
button{
  font-family:inherit;
}